@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(135deg, #0a0a0a, #151515);
    --foreground: #ededed;
    --backgroundtoast: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #0a0a0a, #151515);
    --foreground: #ededed;
    --backgroundtoast: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary), var(--font-secondary), sans-serif;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  scrollbar-width: none;
}

/*Modo Claro para futuro
  --background: linear-gradient(135deg, #f1f1f1, #dadada);
  --foreground: #171717;
  --backgroundtoast: #f1f1f1;
*/