@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: "Electrolize", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-primary: "Electrolize", sans-serif;
    --font-secondary: "Roboto", sans-serif;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-primary), var(--font-secondary), sans-serif;
}