.auth-container {
  padding: 2rem;
  border-radius: 10px;
  background: linear-gradient(135deg, #0a0a0a, #151515);
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.auth-container.login {
  border: 2px solid rgb(0, 153, 255);
  box-shadow: 0 0 10px rgba(0, 153, 255, 1), 0 0 15px rgba(0, 153, 255, 0.6);
}

.auth-container.register {
  border: 2px solid rgba(255, 140, 0);
  box-shadow: 0 0 10px rgba(255, 140, 0, 1), 0 0 15px rgba(255, 140, 0, 0.6);
}

.auth-button {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
}

.auth-button.login {
  color: rgb(0, 153, 255);
}

.auth-button.register {
  color: rgba(255, 140, 0);
}

.auth-button:hover {
  color: white;
  transform: scale(1.1);
}

.auth-button.active {
  color: white;
  transform: scale(1.3);
}

.form-container {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  visibility: hidden;

}

.form-container.active {
  max-height: 15rem;
  opacity: 1;
  visibility: visible;
}