.hcontainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 12vh;
  background: linear-gradient(135deg, #1c2028, #151515);
}
.hlogo{
  height: 8vh;
}