.userList {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 75vh;
  border-left: 3px solid rgba(255, 232, 203, 0.781);
  box-shadow: 0 0 10px rgba(255, 140, 0, 1), 0 0 15px rgba(255, 140, 0, 0.6);
  scrollbar-color: rgba(255, 140, 0, 0.7) #1e1e1e;
}