.mainCard {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.userInfo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  gap: 1.2rem;
  transition: transform 0.3s ease;
}

.userInfo:hover, 
.userInfo.active {
  transform: scale(1.1);
}

.userImage {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

/* Menú contextual */
.menu {
  position: absolute;
  background: linear-gradient(135deg, #1c2028, #151515);
  border: 2px solid rgba(255, 140, 0);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 140, 0, 1), 0 0 15px rgba(255, 140, 0, 0.6);
  display: flex;
  flex-direction: column;
  z-index: 100;
  font-family: var(--font-secondary);
}

.menu button {
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.menu button:hover {
  color: rgba(255, 140, 0, 0.7);
  background: linear-gradient(135deg, #2a2f3a, #222222);
}
